p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  color: seagreen;
  font-size: 4vw;
  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 768px) {
  p {
    font-size: 14vw;
  }
}