.main-calculator {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.button-wrap > * {
  flex-basis: 21%;
  display: flex;
  align-items: stretch;
  padding: 2%;
}

.stretch {
  flex-grow: 1;
}