<h1>
  {{title}} barrrr abh
</h1>

<div class="main-calculator">
  <app-solution-screen></app-solution-screen>
  <div class="button-wrap">
    <app-operator-input [operatorType]="'percentage'"></app-operator-input>
    <app-operator-input [operatorType]="'squareRoot'"></app-operator-input>
    <app-operator-input [operatorType]="'squared'"></app-operator-input>
    <app-operator-input [operatorType]="'division'"></app-operator-input>
    <app-clear-entry-input></app-clear-entry-input>
    <app-all-clear-input></app-all-clear-input>
    <app-backspace-input></app-backspace-input>
    <app-operator-input [operatorType]="'multiplication'"></app-operator-input>
    <app-number-input [numberValue]="7"></app-number-input>
    <app-number-input [numberValue]="8"></app-number-input>
    <app-number-input [numberValue]="9"></app-number-input>
    <app-operator-input [operatorType]="'subtraction'"></app-operator-input>
    <app-number-input [numberValue]="4"></app-number-input>
    <app-number-input [numberValue]="5"></app-number-input>
    <app-number-input [numberValue]="6"></app-number-input>
    <app-operator-input [operatorType]="'addition'"></app-operator-input>
    <app-number-input [numberValue]="1"></app-number-input>
    <app-number-input [numberValue]="2"></app-number-input>
    <app-number-input [numberValue]="3"></app-number-input>
    <app-positive-or-negative-input></app-positive-or-negative-input>
    <app-number-input [numberValue]="0"></app-number-input>
    <app-number-input [numberValue]="'.'"></app-number-input>
    <app-enter-input class="stretch"></app-enter-input>
  </div>
</div>