<div class='app-container'>
    <app-sidebar></app-sidebar>
    <div class="main-calculator">
      <app-formula-screen></app-formula-screen>
      <app-solution-screen></app-solution-screen>
      <div class="button-wrap">
        <app-percent-input></app-percent-input>
        <app-square-root-input></app-square-root-input>
        <app-squared-input></app-squared-input>
        <app-operator-input [operatorType]="'/'"></app-operator-input>
        <app-clear-entry-input></app-clear-entry-input>
        <app-all-clear-input></app-all-clear-input>
        <app-backspace-input></app-backspace-input>
        <app-operator-input [operatorType]="'*'"></app-operator-input>
        <app-number-input [numberValue]="7"></app-number-input>
        <app-number-input [numberValue]="8"></app-number-input>
        <app-number-input [numberValue]="9"></app-number-input>
        <app-operator-input [operatorType]="'-'"></app-operator-input>
        <app-number-input [numberValue]="4"></app-number-input>
        <app-number-input [numberValue]="5"></app-number-input>
        <app-number-input [numberValue]="6"></app-number-input>
        <app-operator-input [operatorType]="'+'"></app-operator-input>
        <app-number-input [numberValue]="1"></app-number-input>
        <app-number-input [numberValue]="2"></app-number-input>
        <app-number-input [numberValue]="3"></app-number-input>
        <app-positive-or-negative-input></app-positive-or-negative-input>
        <app-number-input [numberValue]="0"></app-number-input>
        <app-decimal-input></app-decimal-input>
        <app-enter-input class="stretch"></app-enter-input>
      </div>
    </div>
    <div class="placeholder"></div>
</div>