.number-pad-note {
  height: 3vw;
  background-image: url(/assets/images/number-pad-tip.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.number-pad-note {
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

app-sidebar-left {
  justify-content: center;
  margin-top: 5.5vw;
  margin-left: auto;
  width: 31vw;
  font-size: 2.2vw;
}

app-sidebar-right {
  justify-content: center;
  margin-right: auto;
  width: 31vw;
}

.main-calculator {
  width: 32vw;
}

.button-wrap {
  flex-direction: column;
  display: flex;
}

.button-wrap div {
  display: flex;
}

.button-wrap div > * {
  display: flex;
  width: 25%;
}

.stretch {
  flex-grow: 1;
}

@media (max-width: 597px) {
  .number-pad-note {
    height: 5.25vw;
  }

  .app-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .main-calculator {
    margin: 0 auto 0 auto;
    width: 90vw;
  }

  app-sidebar-left {
    margin: 10vw auto 0 auto;
    width: 90vw;
    order: 2;
  }

  app-sidebar-right {
    margin: 5vw auto 0 auto;
    width: 90vw;
    order: 3;
  }

  /*.button-wrap > * {
    padding: 1.8vw;
  }*/
}