
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-sidebar-left {
  margin-left: 20%;
  width: 20%;
  border: 1px solid red;
}

.main-calculator {
  width: 20%;
}

.placeholder {
  margin-right: 20%;
  width: 20%;
  border: 1px solid red;
}

.button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.button-wrap > * {
  flex-basis: 21%;
  display: flex;
  align-items: stretch;
  padding: 2%;
}

.stretch {
  flex-grow: 1;
}