<h1>
  {{title}}
  barrrr abh
</h1>

<div class="main-calculator">
  <button>%</button>
  <button>&#8730;</button>
  <button>x&#178;</button>
  <button>&#247;</button>
  <button>CE</button>
  <button>AC</button>
  <button>&#9003;</button>
  <button>&#215;</button>
  <button (click)="test()">7</button>
  <button>8</button>
  <button>9</button>
  <button>-</button>
  <button>4</button>
  <button>5</button>
  <button>6</button>
  <button>+</button>
  <button>1</button>
  <button>2</button>
  <button>3</button>
  <button>&#8314;&#8725;&#8331;</button>
  <button>0</button>
  <button>.</button>
  <button class="stretch">Enter</button>
</div>