td {
  color: white;
}

.label {
  border: none;
  width: 10vw;
  font-size: 2.7vw;
}

.save {
  margin: 3vw 0 0 0;
  font-size: 2.7vw;
  padding: .9vw 1.5vw;
}

input {
  width: 100%;
}

.equation {
  text-align: left;
  padding-left: 2vw;
}

.last {
  border-top: 3px solid white;
}