table {
  margin-left: auto;
  margin-right: auto;
}

td {
  color: white;
}

tr td:nth-of-type(1), tr:last-child td {
  text-align: center;
}

.title {
  width: 20vw;
  border: none;
  font-size: 3vw;
  text-align: center;
}

.label {
  border: none;
  width: 10vw;
  font-size: 2.1vw;
}

.save {
  margin: 3vw 0 0 0;
  font-size: 2.7vw;
  padding: .9vw 1.5vw;
}

.save-td {
  padding-bottom: 4vw;
  background-image: url(/assets/images/click-to-save.png);
  background-repeat: no-repeat;
  background-size: auto 3.25vw;
  background-position: center bottom;
}

.save:hover {
  cursor: pointer;
}

input {
  width: 100%;
}

.equation {
  text-align: left;
  padding-left: 2vw;
  font-size: 2.1vw;
}

.operator {
  font-size: 2.1vw;
}

.last {
  padding-top: 1vw;
  background-image: url(/assets/images/solution-line.png);
  background-repeat: no-repeat;
  background-size: 100% .5vw;
}

@media (max-width: 567px) {
  table {
    margin: 0;
    width: 90vw;
  }

  .title {
    font-size: 9vw;
    width: 50vw;
  }

  .label {
    width: 30vw;
    font-size: 5vw;
  }

  .equation, .operator {
    font-size: 6vw;
  }

  .save {
    font-size: 8vw;
  }

  .last {
    background-size: 50% .5vw;
  }

  .save-td {
    background-size: auto 10.25vw;
    background-position: center bottom;
    padding-bottom: 12vw;
  }
}