/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

* {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 2.6vw;
}

html {
  height: 100%;
  background-color: black;
  background: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

button {
  flex-basis: 100%;
  background: none;
  color: white;
  border-image: url(/assets/images/button-border.png) 14;
  border-width: .5vw;
  padding: 1vw 0;
  margin: .2vw;
}

button:focus, input:focus {
  outline: none;
}

button:hover {
  color: lightgray;
}

button:active, .pressed {
  /*background-image: url(/assets/images/button-click-background.png);
  background-repeat: no-repeat;
  background-position: center;*/
  color: lightgray;
  box-shadow: inset 0 0 55px -20px black;
}

app-number-input:nth-of-type(2) button,
app-number-input:last-of-type button,
.positive-or-negative-input,
app-operator-input:nth-of-type(2) button {
  border-image: url(/assets/images/button-border-2.png) 12;
}

.percent-input,
.backspace-input,
app-number-input:nth-of-type(9) button,
app-number-input:nth-of-type(4) button,
app-operator-input:nth-of-type(3) button {
  border-image: url(/assets/images/button-border-3.png) 12;
}

app-operator-input:first-of-type button,
app-number-input:nth-of-type(5) button,
.decimal-input {
  border-image: url(/assets/images/button-border-4.png) 14;
}

app-number-input:nth-of-type(6) button,
app-number-input:nth-of-type(7) button,
.square-root-input{
  border-image: url(/assets/images/button-border-5.png) 12;
}

input {
  background: none;
  border: 3px solid white;
  color: white;
}

@media (max-width: 567px) {
  body {
    margin: 0;
  }

  * {
    font-size: 9vw;
  }

  button {
    border-width: 1.5vw;
  }
}
