div {
  text-align: center;
  background-image: url(./assets/images/click-to-load.png);
  background-repeat: no-repeat;
  background-size: auto 4.25vw;
  background-position: center top;
  padding-top: 5.5vw;
}

ul {
  margin-top: 0;
  text-align: center;
  padding-left: 0;
}

span:hover {
  font-weight: 600;
  cursor: pointer;
}

button {
  position: relative;
  top: -.5vw;
  font-size: 1vw;
  margin: 0;
  padding: 0 .25vw;
  border-width: .3vw;
}

button:hover {
  color: indianred;
  border-image: url(./assets/images/CE-border.png) 12;
}

li {
  display: block;
  list-style: none;
  color: white;
}

@media (max-width: 567px) {
  div {
    background-size: auto 10.25vw;
    padding-top: 10.5vw;
  }

  button {
    position: relative;
    top: -1.4vw;
    font-size: 4.5vw;
    padding: 0 1vw;
    border-width: 1.5vw;
  }
}